<div class="container px-0">
  <form id="adminForm" [formGroup]="adminFormGroup">
    <div class="row">
      <div>
        <input type="text" class="form-control bg-light border-light" id="productName" placeholder="productName"
          formControlName="productName" style="margin-right: 10px;">
      </div>
      <div>
        <input type="text" class="form-control bg-light border-light" id="productDescription"
          placeholder="productDescription" formControlName="productDescription" style="margin-right: 10px;">
      </div>

      <div>
        <input type="number" class="form-control bg-light border-light" id="productAmount" placeholder="productAmount"
          formControlName="productAmount" style="margin-right: 10px;">
      </div>

      <div>
        <input type="price" class="form-control bg-light border-light" id="price" placeholder="price"
          formControlName="price" style="margin-right: 10px;">
      </div>

      <div>
        <input type="text" class="form-control bg-light border-light" id="price" placeholder="categoryName"
          formControlName="categoryName" style="margin-right: 10px;">
      </div>
      <div>
        <input type="number" class="form-control bg-light border-light" id="categoryId" placeholder="categoryId"
          formControlName="categoryId" style="margin-right: 10px;">
      </div>
      <div class="d-grid my-4">
        <button class="btn btn-dark btn-lg" type="submit" (click)="OnSubmit()">
          Add Product
        </button>
        <br>
        <button class="btn btn-dark btn-lg" type="submit" routerLink="/products">
          Products 
        </button>
      </div>
    </div>
  </form>
</div>